@media screen and (max-width:600px){
    .main-nav {
        margin: 0px 15px;
    }
    .logo {
        margin: 5px;
        font-size: 15px;
    }
    .links a {
        font-size: 8px;
        margin: 0px 5px;
    }
    nav .text {
        padding: 5px 2px;
        font-size: 8px;
    }
    .m-i img {
        height: 25px;
    }
    .fm-t {
        font-size: 35px;
    }
    .i img {
        height: 150px;
    }
    .about {
        padding: 8px 8px;
    }
    .about-h {
        padding:0;
        font-size: 35px;
    }
    .container-About {
        align-items: center;
        margin: 80px 0px;
    }
    .a-t {
        font-size: 9px;
    }
    .card {
        height: 180px;
    }
    .card nav {
        margin: 0px 15px;
    }
    .card-title {
        font-size: 20px;
    }
    #card-image img {
        padding: 0;
        margin: 0 -5px;
        height: 120px;
    }
    .para-h {
        margin: 0 -3px;
        font-size: 12px;
    }
    .container-a-s .para-1 {
        font-size: 5px;
        width: 100px;
    }
    .card .title {
        margin: 0px -3px;
        font-size: 6px;
    }
    .para-2 {
        margin: 0px -8px;
        font-size: 5px;
    }
    .fact-t {
        font-size: 35px;
        margin: 6px 5px;
    }
    .text-fact {
        font-size: 8px;
    }
    .logo-foot {
        margin: 5px;
        font-size: 13px;
    }
    .copyright {
        font-size: 5px;
    }
    footer {
        padding: 25px 0px;
        gap: 5px;
    }
    .foot-h {
        width: 50px;
        margin: 3px 2px;
        font-size: 8px;
    }
    .lines {
        font-size: 5px;
    }
    .container-foot {
        padding: 8px 2px;
        border-radius: 16px;
    }
}